@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
display: flex;
    justify-content: center;
    padding: 30px;
    color: white;
    font-family: Arial, sans-serif;
    background-image: url("mainbackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container {
        background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: fit-content;
}

span {
    font-weight: bold;
    margin-bottom: 25px;
}

.specialite {
    display: block;
    justify-content: center;
    margin-top: 20px;
    animation: fadeSlideIn 0.3s ease;
}

.container2 {
    display: flex;
    justify-content: center;
}


a {
    background: rgba(255, 255, 255, 0.1);
    border: 3px groove rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: white;
    margin: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    border: 3px double #FF00FF;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.04);
}
button {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px; /* ← same as hover */
    margin: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.1s;
}

button:hover {
    border: 3px double #FF00FF;
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.04);

}

button:active {
    background: rgba(255, 255, 255, 0.3);   
}